body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #ffad90;
}

.sidebar {
    width: 160px;
    height: auto;
    background-color:#FFAD90;
    margin-top: 50px;
    margin-bottom: 200px;
    text-align: center;
}

.btn-square-pop {
    /* left: 0px; */
    margin-top: 10px;
    width: 160px; /*検索ボタンの横幅*/
    height: 40px; /*検索ボタンの縦幅*/
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #fd9535; /*背景色*/
    border-bottom: solid 2px #d27d00; /*少し濃い目の色に*/
    border-radius: 4px; /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
        0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    line-height: 40px; /* 文字列の高さ */
}

.btn-square-pop:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
