#C {
/*    min-height: 800px;*/
    height: auto;
    width: 100%;
    background-color: #d5d5d5;
/*    padding-bottom: 20px;*/
}

.inner{
    margin-bottom: 60px;
}

.samune {
    /*    margin-top: 30px;*/
    text-align: center;
}

.total {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
    height: 230px;
}

.total > a {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.all {
    display: flex;
    flex-wrap: wrap;/*折り返し*/
    margin-left: 10px;
}

.box27 {
    text-align: center;
    position: relative;
/*    margin-top: 30px;*/
/*    margin-left: 10px;*/
/*    width: 200px;
    height: 200px;*/
    /*    margin: 2em 0;
        padding: 0.5em 1em;*/
    /*    border: solid 3px #62c1ce;*/
    margin-bottom: 14px;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: 155px;
    left: 0px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.box27 p {
    margin: 0;
    padding: 0;
}

img{
    object-fit: cover;
}

.add {
    margin-top: 30px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 22px;
    color: indianred;
}

.centering-ttl-box{
    width: 92%;
    padding-left: 15px;
    margin-left: 10px;
/*    margin: 20px auto 0px;*/
    border-bottom: 1px solid black;
    padding-bottom: 10px;

}
.centering-ttl{
    padding-top: 20px;
/*    text-align: center;*/
/*    width: 92%;*/
    font-size: 20px;
    font-weight: bold;
/*    position: absolute;*/
}

/*.post {
    padding: 10px 30px 70px 90px;
}*/

.btn-square {
    margin-top: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px); /*下に動く*/
    border-bottom: none; /*線を消す*/
}

.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, #ffc107 0%, #ff8b5f 100%);
    transition: 0.4s;
    margin-bottom: 14px;
}

.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #ffc107 0%, #f76a35 100%);
}

.post {
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
/*    padding: 10px 30px 70px 90px;*/
}


