#main{
    display:flex;
}

#C {
/*    min-height:800px;*/
    height:auto;
    width:100%;
    background-color:#D5D5D5;
    /*    position: relative;*/
}

.samune {
    /*    margin-top: 30px;*/
    text-align: center;
}

.total {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
    height: 230px;
}

.total > a {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.all {
    display: flex;
    flex-wrap: wrap;/*折り返し*/
    margin-left: 10px;
}

.centering-ttl-box{
    width: 92%;
    padding-left: 15px;
    margin-left: 10px;
    /*    margin: 20px auto 0px;*/
    border-bottom: 1px solid black;
    padding-bottom: 10px;

}
.centering-ttl{
    padding-top: 20px;
    /*    text-align: center;*/
    /*    width: 92%;*/
    font-size: 20px;
    font-weight: bold;
    /*    position: absolute;*/
}

/*@media (max-width: 453px) {
   .centering-ttl-box { width: 380px; }
}
@media (min-width: 453px) and (max-width: 670px) {
   .centering-ttl-box { width: 580px; } 
}
@media (min-width: 870px) and (max-width: 1000px){
   .centering-ttl-box { width: 780px; }
}*/

.next{
    margin-top: 30px;
    text-align: center;
}


h2{
    margin-top: 30px;
    font-size: 22px;
    color:indianred;
}

.box27 {
    text-align: center;
    position: relative;
/*    margin-top: 30px;*/
    /*    margin-left: 10px;*/
    /*    width: 200px;
        height: 200px;*/
    /*    margin: 2em 0;
        padding: 0.5em 1em;*/
    /*    border: solid 3px #62c1ce;*/
    margin-bottom: 14px;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: 155px;
    left: 0px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.box27 p {
    margin: 0;
    padding: 0;
}

img{
    object-fit: cover;
}

h2 {
    margin-top: 30px;

    font-size: 22px;
    color: indianred;
}

.post {
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
    /*    padding: 10px 30px 70px 90px;*/
}

.inner{
    margin-bottom: 60px;
}

